<div class="container">
  <h2>Founding of CHERNOBYLwel.come: The trip that changed my life</h2>
  <br />
  <p>
    This journey started as your journey back in 2008. I was just a tourist, a
    number, a statistic. Visiting the Chernobyl zone for 2 days was a
    life-changing experience for me. And it was not as easy as it sounds. My
    fear was slightly greater than the initial excitement - and for my
    protection I packed some extra stuff: a respirator and a lead-covered jockey
    strap. I have to laugh when I mention this to people. <br /><br />From the
    moment I got out of the tourist-packed bus in the ghost town of Pripyat, and
    smelt the winter breeze, felt the atmosphere, I immediately told myself, I
    need to get back here again, again and again. Establishing a specialist tour
    company was a dream come true - in order for me to continue to visit the
    zone and show it's true beauty to others.
  </p>
</div>
