<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            ><button type="button" class="btn btn-light text-dark fw-bold me-2">
              Semintra's Blog
            </button></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="about"
            ><button type="button" class="btn btn-outline-secondary text-light">
              about
            </button></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact"
            ><button type="button" class="btn btn-outline-secondary text-light">
              contact
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
