
.Wrap {
    margin: 0 auto;
    width : 100%; 
    height:100%; 
    display: flex; 
    flex-direction:column;
}
 h1 {
     text-align: center;
      }
      
 .nav {
     width: 100%;
     text-align: center;
     background-color: rgb(235, 232, 232);
 }

 ul {
    display: inline-block;

}
li {
    display: block;
    float: left;
    text-align: center;
    padding:0px 16px;
    text-decoration: none;
}

.Feature {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 232, 232);
    float:left;
    padding: 10px;
    margin: 10px;
}
.Columns {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    
    
}
.Column1 {
    width: 33vw;
    height: 100%;
    background-color: rgb(235, 232, 232);
    text-align: center;
    float:left;
    padding: 10px;
    margin: 10px;
    
}

.Column2 {
    width: 33vw;
    height: 100%;
    background-color: rgb(235, 232, 232);
    text-align: center;
    float:left;
    padding: 10px;
    margin: 10px;
}
.Column3 {
    width: 33vw;
    height: 100%;
    background-color: rgb(235, 232, 232);
    text-align: center;
    float:left;
    padding: 10px;
    margin: 10px;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 232, 232);
    clear:both;
    padding: 1px;
    margin: 10px;
    text-align: center;
    
}