.container {
  margin-top: 2em;
  color: white;
}

h3,
h2 {
  text-align: center;
  margin: 0.5em;
}

a {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 4px 4px 4px black;
}
