<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <ng-template [ngIf]="clickCounter >= 20" [ngIfElse]="none">
      <p>You are <b>VIP</b></p>
    </ng-template>
    <ng-template #none>
      <p>You hace to donate to become a <b>VIP</b></p>
    </ng-template>
    <form class="d-flex">
      <div class="donate">
        You have donate
        <span (click)="countClick()" class="btn btn-danger">
          {{ clickCounter }} $</span
        >
      </div>
    </form>
  </div>
</nav>
